body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display,
.score {
    color: white;
    background-color:black;
    align-items: center;
    justify-content: center;
    border: 4px solid blue;


}

h2 {
    text-align: center;
}

.score h2 {
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-evenly;

}